* {
    box-sizing: border-box;
}
body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 1em;
   line-height: 1.428em;
   color: $textcolor;
   background-color: $bgcolor;
}
h1 {
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   color: white;
}
h3 {
   font-size: 18px;
   font-weight: bold;
   color: $hcolor;
   margin-bottom: 10px;
}
/* ********************************* 
* Generic FlexBox Styling *
**********************************/
.flexContainer {
   display: flex;
}
.flexItem {
   flex: 1;
}
.flexItem2 {
   flex: 2;
}
.flexStart {
   justify-content: flex-start;
}
.flexCenter {
   justify-content: center;
}
.flexEnd {
   justify-content: flex-end;
}
.flexWrap {
   flex-wrap: wrap;
}
.itemCenter {
   align-items: center;
}
.flexColumn {
   flex-direction: column;
}
.flexSpaceBetween {
   justify-content: space-between;
}
.flexSpaceAround {
   justify-content: space-around;
}
.flexAutoHeight {
   display:flex;
   align-items:flex-start;
   align-content:flex-start;
}
/* ********************************* 
* Shared Styling *
**********************************/
.headerBackground {
   background: $lightbgcolor;
}
.whiteBackground {
   background: white;
}
.whiteText {
   color: white;
}
.marginTop {
   margin-top: 50px;
}
.marginBottom {
   margin-bottom: 25px;
}
.marginRight {
   margin-right: 15px;
}
.wrap {
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}
.marginBottom-15 {
   margin-bottom: 15px;
}
/* ********************************* 
* Navigation *
**********************************/
.nav {
   list-style: none;
   display: flex;
   margin: 0;
}
.nav a {
   text-decoration: none;
   display: block;
   padding: 0.5em 10px;
   margin-right: 10px;
   color: #333333;
   background-color: white;
   &:hover {
       color: darken(pink, 30%);
       background-color: whitesmoke;
  }
}
.nav a.last-elem {
   margin-right: 0px;
}
/********************************** 
* flex container blocks * 
**********************************/
.wrapper {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items:flex-start;
   align-content:flex-start;
}
.wrapper > * {
   padding: 0px;
   flex: 1 100%;
}
.asideBlock {
   background-color: white;
   margin-right: 15px;
}
.margin-top {
   margin-top: 15px;
}
.blockContent {
   padding: 15px 10px 10px 10px;
}
.blockFooter {
   margin-top: 15px;
   display: flex;
   font-size: 14px;
   &__comments {
       text-align: right;
  }
}

/* grid */

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid > div {
    display: flex; 
    flex-basis: calc(33.33% - 14px);  
    justify-content: center;
    flex-direction: column;
}

.submain {
  margin-bottom: 15px;
}

.blockHeader {
    display: flex;
    
}