/********************************** 
* Desktop * 
**********************************/
@media all and (min-width: 1001px) {
    .container {
        width: 95%;
        margin: 25px auto;
        padding: 25px, 15px;
    }
    .main {
        display: flex;
        flex: 3 0px;
    }
    .main .mainImg {
        max-width:100%;
    }
    .aside-1 {
        order: 1;
        flex: 1;
    }
    .main {
        order: 2;
    }
    .submain {
        display: flex;
        flex: 1 0px;
    }
    .submain-aside {
        flex: 1 0px;
    }
}
